/Imagegram/.idea/.idea.Imagegram/.idea/contentModel.xml
/Imagegram/.idea/.idea.Imagegram/.idea/contentModel.xml
/Imagegram/.idea/.idea.Imagegram/.idea/contentModel.xml
/Imagegram/.idea/.idea.Imagegram/.idea/contentModel.xml
/Imagegram/Imagegram/bin/Debug/netcoreapp3.1/Imagegram.dll
/Imagegram/Imagegram/bin/Debug/netcoreapp3.1/Imagegram.pdb
/Imagegram/Imagegram/obj/Debug/netcoreapp3.1/Imagegram.dll
/Imagegram/Imagegram/obj/Debug/netcoreapp3.1/Imagegram.pdb
